# Artifacts created by IntelliJ or Leiningen working with Clojure
pom.xml
pom.xml.asc
*.iml
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.idea
.cpcache/
# Artifacts created by Fulcro / Node / ClojureScript working together
node_modules/
package-lock.json
.shadow-cljs/
resources/public/js